version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: tabelog-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: tabelog
      TZ: "Asia/Tokyo"
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 20

  backend:
    build:
      context: ./backend
      dockerfile: .devcontainer/Dockerfile
    container_name: tabelog-backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    working_dir: /app
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: tabelog
      DB_USER: root
      DB_PASSWORD: password
      DJANGO_SETTINGS_MODULE: config.settings.development
      DJANGO_DEBUG: "true"
    depends_on:
      db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: .devcontainer/Dockerfile
    container_name: tabelog-frontend
    command: yarn dev
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true

volumes:
  db_data:
